<!DOCTYPE html>
<html lang="en" ng-app="statsApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Northpoint Softball Stats</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">
    <link href="css/main.css" rel="stylesheet" />
    <style>
        .card {
            border: solid 1px #000;
            margin: 4px;
            border-radius: 2px;
            box-shadow: 2px 2px 2px #AAA;
        }

        .dnp {
            opacity: .25;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Northpoint Softball Stats</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Season Stats </a></li>
                    <li class="active"><a href="games.html">Game Stats</a></li>
                    <li><a href="changes.html">Updates</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
            <header class="page-header">
                <h1 class="visible-md visible-lg ">Game Stats</h1>
                <h3 class="visible-sm">Game Stats</h3>
                <h4 class="visible-xs">Game Stats</h4>
                <small>Individual stats for each game. Dimmed players did not play in that game.</small>
            </header>
        <div ng-controller="PlayerController as player">
            <div ng-repeat="game in player.games" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{game.HomeTeamName}} ({{game.HomeTeamScore}}) vs. {{game.VistorTeamName}} ({{game.VistorTeamScore}}) on {{game.GameDate | date:shortDate}}
                    </h3>
                </div>
                <div class="panel-body row">
                    <div ng-repeat="playerInfo in game.Stats" class="col-md-3 col-sm-3 col-lg-2 card" ng-class="playerInfo.AtBats == 0 ? 'dnp' : 'active'">
                        <span> {{playerInfo.Name}}</span> <br />
                        Batting Avg: {{playerInfo.BattingAverage | number:3}}<br />
                        On Base Avg: {{playerInfo.OnBasePercent | number:3}}<br />
                        Fielding Avg: {{playerInfo.FieldingAverage | number:3}}
                    </div>
                </div>
            </div>
            <span style="display:none;">Status: {{player.msg}}</span>
        </div>
        <footer>
            <small>Data shown is directly from <a href="http://mlsoftball.com/team_statistics.php?programID=25&seasonID=825&TEAM_ID=BAND_OF_BROTHERS&league=S-MENLO">MLSoftball.com</a> and can be incorrect. Only players that have at least one (1) At Bat are shown</small><br />
            <a href="mailto:danieljjefferson@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Send feedback</a>
        </footer>
    </div>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/statsApp.js"></script>
    <script>
    </script>
    <!--Google Analytics-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-77376551-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
